@import "./styles/mixins";
@import "./styles/variables";

.Homelink {
  position: fixed;
  top: 0;
  left: calc(50% - 16px);

  a {
    text-decoration: none;
    color: $turquoise;
    cursor: pointer;

    svg {
      width: 32px;
      height: 32px;

      &:hover {
        color: $light-sand;
      }
    }
  }
}
