@import "./styles/mixins";
@import "./styles/variables";

.App {
  width: 100vw;
  height: 100vh;
}

@media only screen and (min-width: 768px) {
  .App {
    background: linear-gradient(
      33deg,
      rgba(179, 182, 185, 0.4299) 0%,
      rgba(0, 0, 0, 0) 50%,
      rgb(11, 24, 32) 100%
    );
  }
}
